<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div class="menu">
    <div class="title">TITLE</div>
    <ul>
      <li>
        Home
      </li>
      <li>
        進捗
      </li>
      <li>
        ターゲット
      </li>
      <li>
        ユーザ
      </li>
    </ul>
  </div>
  
  <div class="content">
    <div class="page_name">PAGE NAME</div>
    <div class="target_info">
      <table>
        <tr>
        
        </tr>
      </table>
    </div>
  </div>
  
  <div class="user_info">
  </div>
  
  <div class="footer">
  </div>
  
</body>
</html>