    <div id="main_content">
      <span style="color:red;">{{ team_delete_message }}</span>
      {% for team_members in team_members_list %}
        <table>
          <tbody>
            {% if list_form_message %}
             <tr>
              <td>
                <span style="color:red;">{{list_form_message}}</span>
              </td>
             </tr>
            {% endif %}
            <tr>
              <th>
                チーム名：{{team_members.team.name}}
                 &nbsp;
                 {% if team_members.team_admin == user  %}
                   <span style="font-size:8px">
                     <a href="javascript:void(0)" onClick="deleteObject('{{team_members.team.id}}', '', '{{ACTION_TEAM_DELETE_TEAM}}');return false;">
                       チーム削除
                     </a>
                   </span>
                 {% endif %}
              </th>
            </tr>

          </tbody>
        </table>
        <table class="table table-hover">
          <tbody>
          <form id="list_form" method="post" action="{{main_url}}">
          {% csrf_token %}
            {% for members in team_members.members %}
            <tr>
              <td class="col-md-2">
                <img src="{{ members.profile_photo|cut:"_normal" }}" width="100%">
              </td>
              <td class="col-md-10">
                <table style="width:100%;">
                  <tr>
                    <td class="col-md-12" colspan="4">
                      {{members.username}}
                    </td>
                    <td>
                    {% if team_members.team_admin == members %}
                     <img src="{{STATIC_URL}}images/admin.png" width="20px">
                    {% endif %}
                    {% if team_members.team_admin == user and members != user %}
                      <a href="javascript:void(0)" onClick="deleteObject('{{members.username}}', '{{team_members.team.id}}', '{{ACTION_TEAM_DELETE_MEMBER}}');return false;">
                        <i class="glyphicon glyphicon-remove"></i>
                      </a>
                    {% endif %}
                    </td>
                  <tr>
                  <tr>
                    <th class="col-md-2">
                      出身:
                    </th>
                    <td class="col-md-5">
                      {% if members.birth_place  %}
                      {{ members.birth_place }}
                      {% else %}
                      &nbsp;-
                      {% endif %}
                    </td>
                    <th class="col-md-2">
                      誕生日:
                    </th>
                    <td class="col-md-5">
                      {% if members.birthday  %}
                      {{ members.birthday }}
                      {% else %}
                      &nbsp;-
                      {% endif %}
                    </td>
                  </tr>
                  <tr>
                    <th class="col-md-2">
                      対象:
                    </th>
                    <td class="col-md-10" colspan="3">
                      {% if members.target_type_1  %}
                      {{ members.target_type_1 }}
                      {% endif %}
                      {% if members.target_type_2  %}
                      {{ members.target_type_2 }}
                      {% endif %}
                      {% if members.target_type_3  %}
                      {{ members.target_type_3 }}
                      {% endif %}
                    </td>
                  </tr>

                </table>
              </td>
            </tr>
            {% endfor %}
            </form>

          </tbody>
        </table>

      {% endfor %}
    </div>