    <div id="sub_content">
        {{form_message}}

        <!-- 新規チーム追加フォーム -->
        {% if teamAddForm %}
          <form method="POST" action="{{main_url}}">
          {%csrf_token%}

          <div class="fieldWrapper form-group">
            {{ teamAddForm.name.errors }}
            <label for="id_name">チーム名:</label>
            {{ teamAddForm.name }}
          </div>
          <input type="hidden" name="action" value="{{ACTION_TEAM_ADD}}">
          <button id="id_team_add_submit" type="submit" class="btn btn-default">作成</button>
        </form>
        {% endif %}
        <!-- ここまで -->

        <!-- メンバー招待フォーム -->
        {% if has_team %}
          <form method="POST" action="{{main_url}}">
          {%csrf_token%}

          <div class="fieldWrapper form-group">
            {{ teamInviteForm.user_id.errors }}
            <label for="id_user_id">ユーザ:</label>
            {{ teamInviteForm.user_id }}
          </div>

          {% for hidden in teamInviteForm.hidden_fields %}
          {{ hidden }}
          {% endfor %}



          <input type="hidden" name="action" value="{{ACTION_TEAM_INVITE}}">
          <button id="id_team_invite_submit" type="submit" class="btn btn-default">招待する</button>
        </form>
        {% endif %}
        <!-- ここまで -->

        <br>

        <!-- 承認待ちユーザ管理者用 -->
        {% if admin_approval_waiting_user_list %}
          管理者承認待ちユーザ
          <form id="admin_approval_form" method="POST" action="{{main_url}}">
          {%csrf_token%}
          {% for admin_approval_waiting_user in admin_approval_waiting_user_list %}
          ・{{ admin_approval_waiting_user.username }} &nbsp;<a href="#" onclick="acceptMember('{{ admin_approval_waiting_user.username }}', '{{ ACTION_TEAM_INVITE_ACCEPT_USER }}');">承認</a><br>
          {%  endfor %}
          </form>
        {% endif %}
        <!-- ここまで -->

        <!-- 承認待ちチーム -->
          {% if inviting_team_list %}
          承認待ちチーム
          <form id="invited_user_approval_form" method="POST" action="{{main_url}}">
          {%csrf_token%}
          {% for inviting_team in inviting_team_list %}
          ・{{ inviting_team.name }} &nbsp;<a href="#" onclick="acceptTeam('{{ inviting_team.id }}', '{{ ACTION_TEAM_INVITE_ACCEPT_TEAM }}');">承認</a><br>
          {% endfor %}
          </form>
          {% endif %}
        <!-- ここまで -->

        <!-- 承認待ちユーザ表示 -->
        {% if waiting_user_list %}
        <br><br>
        承認待ちユーザ<br>
          {% for waiting_user in waiting_user_list %}
          ・{{ waiting_user.username }}<br>
          {% endfor %}
        {% endif %}
        <!-- ここまで -->

    </div>