<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/common.css">
  <script type="text/javascript" src="{{STATIC_URL}}js/common.js"></script>
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
  <div id="container">

  {% block content %}{% endblock %}
  
  </div>
  <script type="text/javascript">
  function test1() {
	  window.alert("aaaaa");
  }
  </script>
</body>
</html>