    <div class="row">
      <div id="header">
        <div class="col-xs-4 col-sm-2" style="margin-top:5px;margin-bottom:5pv;">
          <img src="{{STATIC_URL}}images/head_logo2.png" style="height:85px;width:150px;">
        </div>
        <div class="col-xs-8 col-sm-10">
        <div style="margin-top:25px;border-bottom:1px solid #d9d9d9;padding-bottom:50px;">
          <span style="vertical-align:middle;float:right;">
            <a href="#" onClick="moveTo('{{ACTION_ACCOUNT}}');">
              [<img src="{{ user.profile_photo }}" width="30">  {{ user.username }}]</a>
              &nbsp;&nbsp;
            <a href="{% url 'logout' %}">ログアウト</a>
          </span>
        </div>
        </div>
      </div>
    </div>