    <div id="nav">
      <div class="title"></div>
      <form id="navigation_form" method="post" action="{{main_url}}">
      {% csrf_token %}
      <ul class="nav nav-pills nav-stacked">
        <li>
          <a href="javascript:void(0)" onClick="moveTo('{{ACTION_HOME}}');"><i class="glyphicon glyphicon-th-list"></i>&nbsp;&nbsp; Home</a>
        </li>
        <li>
          <a href="javascript:void(0)" onClick="moveTo('{{ACTION_PROGRESS_LIST}}');"><i class="glyphicon glyphicon-flag"></i>&nbsp;&nbsp; Progress</a>
        </li>
        <li>
          <a href="javascript:void(0)" onClick="moveTo('{{ACTION_TARGET_LIST}}');"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp; Target</a>
        </li>
        <li>
          <a href="javascript:void(0)" onClick="moveTo('{{ACTION_TEAM}}');"><i class="glyphicon glyphicon-tower"></i>&nbsp;&nbsp; Team</a>
        </li>
        <li>
          <a href="javascript:void(0)" onClick="moveTo('{{ACTION_MANUAL}}');"><i class="glyphicon glyphicon-book"></i>&nbsp;&nbsp; Manual</a>
        </li>
        <li>
          <a href="javascript:void(0)" onClick="moveTo('{{ACTION_HELP}}');"><i class="glyphicon glyphicon-question-sign"></i>&nbsp;&nbsp; Help</a>
        </li>
      </ul>
      </form>
    </div>