    <div id="nav">
      <div class="title">TITLE</div>
      <form id="navigation_form" method="post" action="{{main_url}}">
      {% csrf_token %}
      <ul>
        <li>
          <a href="#" onClick="moveTo('progress_latest');">Home</a>
        </li>
        <li>
          <a href="#" onClick="moveTo('progress_list');">進捗</a>
        </li>
        <li>
          <a href="#" onClick="moveTo('target_list');">ターゲット</a>
        </li>
        <li>
          <a href="#" onClick="moveTo('user_list');">ユーザ</a>
        </li>
      </ul>
      </form>
    </div>