<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <!-- Bootstrap -->
  <link href="{{STATIC_URL}}css/signin.css" rel="stylesheet">
  <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <script type="text/javascript" src="{{STATIC_URL}}js/common.js"></script>
  <title>Log in | pim</title>
</head>
<body>

    <div class="container">
		<div class="row">
            <div align="center" style="margin-top:50px;">
            <img style="width:700px;" src="{{STATIC_URL}}images/pim_login.png" alt="PersonalInfoManager" usemap="#login">
            <map name="login">
            <area shape="rect" coords="470,183,600,208" href={% url 'social:begin' 'twitter' %}>
            </map>

              <br>
            <!--<h1 class="page-header text-center">pim</h1> -->
            <!--
                <a href={% url 'social:begin' 'twitter' %}>
                    <img src="{{STATIC_URL}}images/sign-in-with-twitter-gray.png" alt="Sign in with Twitter">
                </a>
             -->
        </div>
    </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
</body>
</html>

