    <div id="main_content">
      <table class="table table-hover">
        <thead>
          <tr>
            <td class="col-md-3 col-sm-3"></td>
            <td class="col-md-9 col-sm-9">
                <table class="table-bordered">
                    <tr>
                      <td class="col-md-2 col-sm-2">progress</td>
                      <td class="col-md-3 col-sm-3">registered_at</td>
                      <td class="col-md-3 col-sm-3">relationship</td>
                      <td class="col-md-4 col-sm-4">remarks</td>

                    </tr>
                </table>
            </td>
          </tr>
        </thead>

        <tbody>
        {% for user_progress in user_progress_list%}
              {% comment %}
                <!-- 前と顧客が変わったら印字する -->
              {% endcomment %}
              {% ifchanged user_progress.target.pk %}
                    {% if forloop.first %}
                    <tr>
                         <td class="col-md-3" valign="middle">
                    {% else %}
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-3" valign="middle">
                    {% endif %}
                              名前:{{ user_progress.target.name }}<br>
                              LV:{{ user_progress.target.level }}<br>
                              目的:{{ user_progress.target.purpose }}<br>
                        </td>
                <td class="col-md-9">
                    <table class="table-striped">
              {% endifchanged %}
                          <tr>
                              <td id="id_user_progress_id_{{ user_progress.id }}" style="display:none">{{ user_progress.id }}</td>
                              <td id="target_{{ user_progress.id }}" style="display:none">{{ user_progress.target.id }}</td>
                              <td class="col-md-2">{{ user_progress.get_progress_display }}</td>
                              <td id="progress_{{ user_progress.id }}" style="display:none">{{ user_progress.progress }}</td>
                              <td class="col-md-3">{{ user_progress.registered_at|date:"Y-m-d(D)" }}</td>
                              <td id="relationship_{{ user_progress.id }}" class="col-md-3">{{ user_progress.relationship }}</td>
                              <td id="remarks_{{ user_progress.id }}" class="col-md-4">{{ user_progress.remarks }}</td>
                              <td>
                              <a href="javascript:void(0)" onClick="setSubContentForm('{{ user_progress.id }}');return false;"><i class="glyphicon glyphicon-pencil"></i></a>
                              </td>
                          </tr>
              {% if forloop.last %}
                            </table>
                        </td>
                    </tr>
              {% endif %}
        {% endfor %}

        </tbody>
      </table>

        {% comment %}
            <!-- ↓ この下に担当者の所属するチームの別メンバの進捗を表示する ↓ -->
        {% endcomment %}

        {% for team_progress_list in team_progress_lists%}
      <table class="table table-hover">
           <tbody>
            {% for team_progress in team_progress_list%}
                  {% ifchanged team_progress.responsible_by %}
                        チームメンバ:{{ team_progress.responsible_by }} の進捗状況
                  {% endifchanged %}
                  {% comment %}
                    <!-- 前と顧客が変わったら印字する -->
                  {% endcomment %}
                  {% ifchanged team_progress.target.pk %}
                        {% if forloop.first %}
                        <tr>
                             <td class="col-md-2" valign="middle">
                        {% else %}
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td class="col-md-2" valign="middle">
                        {% endif %}
                                  名前:{{ team_progress.target.name }}<br>
                                  LV:{{ team_progress.target.level }}<br>
                                  目的:{{ team_progress.target.purpose }}<br>
                            </td>
                    <td class="col-md-10">
                        <table class="table-striped">
                  {% endifchanged %}
                              <tr>
                                  <td class="col-md-2">{{ team_progress.get_progress_display }}</td>
                                  <td class="col-md-3">{{ team_progress.registered_at|date:"Y-m-d(D)" }}</td>
                                  <td id="relationship_{{ team_progress.id }}" class="col-md-3">{{ team_progress.relationship }}</td>
                                  <td id="remarks_{{ team_progress.id }}" class="col-md-4">{{ team_progress.remarks|linebreaks }}</td>
                              </tr>
                  {% if forloop.last %}
                                </table>
                            </td>
                        </tr>
                  {% endif %}
            {% endfor %}

            </tbody>
           </table>
           <hr>
        {% endfor %}
    </div>