    <div id="sub_content">
        {{form_message}}
        <form method="POST" action="{{main_url}}">
        {%csrf_token%}
        {{ form.as_p }}
        <input id="id_progress_action" type="hidden" name="action" value="{{ACTION_PROGRESS_ADD}}">
        <input type="hidden" name="responsible_by_id" value="{{ user.username }}">
        <input id="id_user_progress_id" type="hidden" name="user_progress_id" value="">
        <button id="id_submit_progress" type="submit" class="btn btn-default">登録</button>
        </form>
        <button class="btn btn-default" onclick="moveTo('progress_list');">キャンセル</button>

    </div>