    <div id="main_content">
      <div class="page_title"><h3>Progress Timeline</h3></div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Progress</th>
            <th>Assignee</th>
            <th>Remarks</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2014/07/29</td>
            <td>TargetName</td>
            <td>着手</td>
            <td>UserName</td>
            <td>notenotenotenotenotenotenotenote</td>
          </tr>
          <tr>
            <td>2014/07/29</td>
            <td>TargetName</td>
            <td>着手</td>
            <td>UserName</td>
            <td>notenotenotenotenotenotenotenote</td>
          </tr>
          <tr>
            <td>2014/07/29</td>
            <td>TargetName</td>
            <td>着手</td>
            <td>UserName</td>
            <td>notenotenotenotenotenotenotenote</td>
          </tr>
          <tr>
            <td>2014/07/29</td>
            <td>TargetName</td>
            <td>着手</td>
            <td>UserName</td>
            <td>notenotenotenotenotenotenotenote</td>
          </tr>
          <tr>
            <td>2014/07/29</td>
            <td>TargetName</td>
            <td>着手</td>
            <td>UserName</td>
            <td>notenotenotenotenotenotenotenote</td>
          </tr>
        </tbody>
      </table>
    </div>