    <div id="main_content">
      <table class="table table-hover">
        <thead>
          <tr>
            <td colspan="5">
              <table>
                <tr>
                  <th class="col-md-2"></th>
                  <th class="col-md-3">TargetName</th>
                  <th class="col-md-3">Assignee</th>
                  <th class="col-md-1">level</th>
                  <th class="col-md-3">situation</th>
                </tr>
              </table>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="5">
              <table style="width:100%">
                <tr>
                  <td class="col-md-2">■</td>
                  <td class="col-md-3">田中さん</td>
                  <td class="col-md-3">山本悠介</td>
                  <td class="col-md-1">3</td>
                  <td class="col-md-3">合コン</td>
                </tr>
                <tr>
                  <td class="col-md-2"></td>
                  <td class="col-md-3">├ 2014/07/01</td>
                  <td class="col-md-3">新規</td>
                  <td class="col-md-4" colspan="2">がんばります！</td>
                </tr>
                <tr>
                  <td class="col-md-2"></td>
                  <td class="col-md-3">├ 2014/07/12</td>
                  <td class="col-md-3">着手</td>
                  <td class="col-md-4" colspan="2">memomemomemomemomemomemo</td>
                </tr>
                <tr>
                  <td class="col-md-2"></td>
                  <td class="col-md-3">├ 2014/07/18</td>
                  <td class="col-md-3">進行中</td>
                  <td class="col-md-4" colspan="2">memomemomemomemomemomemo</td>
                </tr>
                <tr>
                  <td class="col-md-2"></td>
                  <td class="col-md-3">└ 2014/07/25</td>
                  <td class="col-md-3">終了</td>
                  <td class="col-md-4" colspan="2">memomemomemomemomemomemo</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="5">
              <table style="width:100%">
                <tr>
                  <td class="col-md-2">■</td>
                  <td class="col-md-3">TargetName</td>
                  <td class="col-md-3">Assignee</td>
                  <td class="col-md-1">level</td>
                  <td class="col-md-3">met_situation</td>
                </tr>
                <tr>
                  <td class="col-md-2"></td>
                  <td class="col-md-3">├ 2014/07/01</td>
                  <td class="col-md-3">新規</td>
                  <td class="col-md-4" colspan="2">memomemomemomemomemomemo</td>
                </tr>
                <tr>
                  <td class="col-md-2"></td>
                  <td class="col-md-3">├ 2014/07/12</td>
                  <td class="col-md-3">着手</td>
                  <td class="col-md-4" colspan="2">memomemomemomemomemomemo</td>
                </tr>
                <tr>
                  <td class="col-md-2"></td>
                  <td class="col-md-3">├ 2014/07/18</td>
                  <td class="col-md-3">進行中</td>
                  <td class="col-md-4" colspan="2">memomemomemomemomemomemo</td>
                </tr>
                <tr>
                  <td class="col-md-2"></td>
                  <td class="col-md-3">└ 2014/07/25</td>
                  <td class="col-md-3">終了</td>
                  <td class="col-md-4" colspan="2">memomemomemomemomemomemo</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="5">
              <table style="width:100%">
                <tr>
                  <td class="col-md-2">■</td>
                  <td class="col-md-3">TargetName</td>
                  <td class="col-md-3">Assignee</td>
                  <td class="col-md-1">level</td>
                  <td class="col-md-3">met_situation</td>
                </tr>
                <tr>
                  <td class="col-md-2"></td>
                  <td class="col-md-3">├ 2014/07/01</td>
                  <td class="col-md-3">新規</td>
                  <td class="col-md-4" colspan="2">memomemomemomemomemomemo</td>
                </tr>
                <tr>
                  <td class="col-md-2"></td>
                  <td class="col-md-3">├ 2014/07/12</td>
                  <td class="col-md-3">着手</td>
                  <td class="col-md-4" colspan="2">memomemomemomemomemomemo</td>
                </tr>
                <tr>
                  <td class="col-md-2"></td>
                  <td class="col-md-3">├ 2014/07/18</td>
                  <td class="col-md-3">進行中</td>
                  <td class="col-md-4" colspan="2">memomemomemomemomemomemo</td>
                </tr>
                <tr>
                  <td class="col-md-2"></td>
                  <td class="col-md-3">└ 2014/07/25</td>
                  <td class="col-md-3">終了</td>
                  <td class="col-md-4" colspan="2">memomemomemomemomemomemo</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="5">
              <table style="width:100%">
                <tr>
                  <td class="col-md-2">■</td>
                  <td class="col-md-3">TargetName</td>
                  <td class="col-md-3">Assignee</td>
                  <td class="col-md-1">level</td>
                  <td class="col-md-3">met_situation</td>
                </tr>
                <tr>
                  <td class="col-md-2"></td>
                  <td class="col-md-3">├ 2014/07/01</td>
                  <td class="col-md-3">新規</td>
                  <td class="col-md-4" colspan="2">memomemomemomemomemomemo</td>
                </tr>
                <tr>
                  <td class="col-md-2"></td>
                  <td class="col-md-3">├ 2014/07/12</td>
                  <td class="col-md-3">着手</td>
                  <td class="col-md-4" colspan="2">memomemomemomemomemomemo</td>
                </tr>
                <tr>
                  <td class="col-md-2"></td>
                  <td class="col-md-3">├ 2014/07/18</td>
                  <td class="col-md-3">進行中</td>
                  <td class="col-md-4" colspan="2">memomemomemomemomemomemo</td>
                </tr>
                <tr>
                  <td class="col-md-2"></td>
                  <td class="col-md-3">└ 2014/07/25</td>
                  <td class="col-md-3">終了</td>
                  <td class="col-md-4" colspan="2">memomemomemomemomemomemo</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="5">
              <table style="width:100%">
                <tr>
                  <td class="col-md-2">■</td>
                  <td class="col-md-3">TargetName</td>
                  <td class="col-md-3">Assignee</td>
                  <td class="col-md-1">level</td>
                  <td class="col-md-3">met_situation</td>
                </tr>
                <tr>
                  <td class="col-md-2"></td>
                  <td class="col-md-3">├ 2014/07/01</td>
                  <td class="col-md-3">新規</td>
                  <td class="col-md-4" colspan="2">memomemomemomemomemomemo</td>
                </tr>
                <tr>
                  <td class="col-md-2"></td>
                  <td class="col-md-3">├ 2014/07/12</td>
                  <td class="col-md-3">着手</td>
                  <td class="col-md-4" colspan="2">memomemomemomemomemomemo</td>
                </tr>
                <tr>
                  <td class="col-md-2"></td>
                  <td class="col-md-3">├ 2014/07/18</td>
                  <td class="col-md-3">進行中</td>
                  <td class="col-md-4" colspan="2">memomemomemomemomemomemo</td>
                </tr>
                <tr>
                  <td class="col-md-2"></td>
                  <td class="col-md-3">└ 2014/07/25</td>
                  <td class="col-md-3">終了</td>
                  <td class="col-md-4" colspan="2">memomemomemomemomemomemo</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="5">
              <table style="width:100%">
                <tr>
                  <td class="col-md-2">■</td>
                  <td class="col-md-3">TargetName</td>
                  <td class="col-md-3">Assignee</td>
                  <td class="col-md-1">level</td>
                  <td class="col-md-3">met_situation</td>
                </tr>
                <tr>
                  <td class="col-md-2"></td>
                  <td class="col-md-3">├ 2014/07/01</td>
                  <td class="col-md-3">新規</td>
                  <td class="col-md-4" colspan="2">memomemomemomemomemomemo</td>
                </tr>
                <tr>
                  <td class="col-md-2"></td>
                  <td class="col-md-3">├ 2014/07/12</td>
                  <td class="col-md-3">着手</td>
                  <td class="col-md-4" colspan="2">memomemomemomemomemomemo</td>
                </tr>
                <tr>
                  <td class="col-md-2"></td>
                  <td class="col-md-3">├ 2014/07/18</td>
                  <td class="col-md-3">進行中</td>
                  <td class="col-md-4" colspan="2">memomemomemomemomemomemo</td>
                </tr>
                <tr>
                  <td class="col-md-2"></td>
                  <td class="col-md-3">└ 2014/07/25</td>
                  <td class="col-md-3">終了</td>
                  <td class="col-md-4" colspan="2">memomemomemomemomemomemo</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td colspan="5">
              <table style="width:100%">
                <tr>
                  <td class="col-md-2">■</td>
                  <td class="col-md-3">TargetName</td>
                  <td class="col-md-3">Assignee</td>
                  <td class="col-md-1">level</td>
                  <td class="col-md-3">met_situation</td>
                </tr>
                <tr>
                  <td class="col-md-2"></td>
                  <td class="col-md-3">├ 2014/07/01</td>
                  <td class="col-md-3">新規</td>
                  <td class="col-md-4" colspan="2">memomemomemomemomemomemo</td>
                </tr>
                <tr>
                  <td class="col-md-2"></td>
                  <td class="col-md-3">├ 2014/07/12</td>
                  <td class="col-md-3">着手</td>
                  <td class="col-md-4" colspan="2">memomemomemomemomemomemo</td>
                </tr>
                <tr>
                  <td class="col-md-2"></td>
                  <td class="col-md-3">├ 2014/07/18</td>
                  <td class="col-md-3">進行中</td>
                  <td class="col-md-4" colspan="2">memomemomemomemomemomemo</td>
                </tr>
                <tr>
                  <td class="col-md-2"></td>
                  <td class="col-md-3">└ 2014/07/25</td>
                  <td class="col-md-3">終了</td>
                  <td class="col-md-4" colspan="2">memomemomemomemomemomemo</td>
                </tr>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>