    <div id="main_content">
      <table class="table table-hover">
        <thead>
          <tr>
            <td class="col-md-2"></td>
            <td class="col-md-10">
                <table class="table-bordered">
                    <tr>
                      <td class="col-md-1">progress</td>
                      <td class="col-md-4">registered_at</td>
                      <td class="col-md-3">relationship</td>
                      <td class="col-md-4">remarks</td>
                    </tr>
                </table>
            </td>
          </tr>
        </thead>

        <tbody>
        {% for user_progress in user_progress_list%}
              {% comment %}
                <!-- 前と顧客が変わったら印字する -->
              {% endcomment %}
              {% ifchanged user_progress.target.name_kanji %}
                    {% if forloop.first %}
                    <tr>
                         <td class="col-md-2" valign="middle">
                    {% else %}
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td class="col-md-2" valign="middle">
                    {% endif %}
                              名前:{{ user_progress.target.name_kanji }}<br>
                              LV:{{ user_progress.target.level }}<br>
                              目的:{{ user_progress.target.purpose }}<br>
                        </td>
                <td class="col-md-10">
                    <table class="table-bordered">
              {% endifchanged %}
                          <tr>
                              <td class="col-md-1">{{ user_progress.progress }}</td>
                              <td class="col-md-4">{{ user_progress.registered_at|date:"Y-m-d(D)" }}</td>
                              <td class="col-md-3">{{ user_progress.relationship }}</td>
                              <td class="col-md-4">{{ user_progress.remarks }}</td>
                          </tr>
              {% if forloop.last %}
                            </table>
                        </td>
                    </tr>
              {% endif %}
        {% endfor %}

        </tbody>
      </table>
    </div>