    <div id="main_content">
        <table class="table table-hover">
          <tbody>
            <tr>
              <td class="col-md-2">
                <img src="">photo space
              </td>
              <td class="col-md-10">
                <table style="width:100%;">
                  <tr>
                    <td class="col-md-12" colspan="4">
                      NameNameName (NickName)
                    </td>
                  <tr>
                  <tr>
                    <th class="col-md-2">
                      職業:
                    </th>
                    <td class="col-md-5">
                      学生
                    </td>
                    <th class="col-md-2">
                      誕生日:
                    </th>
                    <td class="col-md-5">
                      4/1/1989
                    </td>
                  </tr>
                  <tr>
                    <th class="col-md-2">
                      住所:
                    </th>
                    <td class="col-md-5">
                      東京都豊島区池袋1-1-1
                    </td>
                    <th class="col-md-2">
                      状況:
                    </th>
                    <td class="col-md-5">
                      ひとり暮らし
                    </td>
                  </tr>
                  <tr>
                    <th class="col-md-2">
                      性格:
                    </th>
                    <td class="col-md-5">
                      ああ
                    </td>
                    <th class="col-md-2">
                      趣味:
                    </th>
                    <td class="col-md-5">
                      テニス
                    </td>
                  </tr>
                  <tr>
                    <th class="col-md-2">
                      <span style="font-size:13px;">きっかけ:
                    </th>
                    <td class="col-md-10" colspan="3">
                      aaaa
                    </td>
                  </tr>
                  <tr>
                    <th class="col-md-2">
                      目的:
                    </th>
                    <td class="col-md-5">
                      あああ
                    </td>
                    <th class="col-md-2">
                      接触日:
                    </th>
                    <td class="col-md-5">
                      ああああ
                    </td>
                  </tr>
                  <tr>
                    <th class="col-md-2">
                      level:
                    </th>
                    <td class="col-md-5">
                      1
                    </td>
                    <th class="col-md-2">
                      難易度:
                    </th>
                    <td class="col-md-5">
                      あああ
                    </td>
                  </tr>
                </table>
              </td>

            </tr>
            <tr>
              <td>
                ss
              </td>
            </tr>
            <tr>
              <td>
                gg
              </td>
            </tr>
          </tbody>
        </table>
    </div>