    <div id="main_content">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Date</th>
            <th>Name</th>
            <th>Progress</th>
            <th>Assignee</th>
            <th>Remarks</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>2014/07/29</td>
            <td>TargetName</td>
            <td>着手</td>
            <td>UserName</td>
            <td>初回お誘い</td>
          </tr>
          <tr>
            <td>2014/07/30</td>
            <td></td>
            <td>進行中</td>
            <td>UserName</td>
            <td>ちょっと仲良くなった</td>
          </tr>
          <tr>
            <td>2014/07/30</td>
            <td></td>
            <td>進行中</td>
            <td>UserName</td>
            <td>いい感じ</td>
          </tr>
          <tr>
            <td>2014/07/29</td>
            <td>TargetName</td>
            <td>着手</td>
            <td>UserName</td>
            <td>notenotenotenotenotenotenotenote</td>
          </tr>
          <tr>
            <td>2014/07/29</td>
            <td>TargetName</td>
            <td>着手</td>
            <td>UserName</td>
            <td>notenotenotenotenotenotenotenote</td>
          </tr>
          <tr>
            <td>2014/07/29</td>
            <td>TargetName</td>
            <td>着手</td>
            <td>UserName</td>
            <td>notenotenotenotenotenotenotenote</td>
          </tr>
          <tr>
            <td>2014/07/29</td>
            <td>TargetName</td>
            <td>着手</td>
            <td>UserName</td>
            <td>notenotenotenotenotenotenotenote</td>
          </tr>
        </tbody>
      </table>
    </div>