    <div id="sub_content">
        {{form_message}}
        <form method="POST" action="{{main_url}}">
        {%csrf_token%}

        <div class="fieldWrapper">
          {{ addForm.name_kanji.errors }}
          <label for="id_name_kanji">名前(漢字):</label>
          {{ addForm.name_kanji }}
        </div>
        <div class="fieldWrapper">
          {{ addForm.name_hiragana.errors }}
          <label for="id_name_hiragana">よみかた:</label>
          {{ addForm.name_hiragana }}
        </div>
        <div class="fieldWrapper">
          {{ addForm.name_en.errors }}
          <label for="id_name_en">名前(英語):</label>
          {{ addForm.name_en }}
        </div>
        <div class="fieldWrapper">
          {{ addForm.met_date.errors }}
          <label for="id_met_date">会った日 yyyy-MM-dd:</label>
          {{ addForm.met_date }}
        </div>
        <a href="#" onclick="display('target_detail_inputs');">詳細入力</a>
        
        <!-- 以下詳細登録とする。ボタン押したらニュって出てくる感じ-->
        <div id="target_detail_inputs" style="display:none;">
	        <div class="fieldWrapper">
	          {{ addForm.nick_name.errors }}
	          <label for="id_nick_name">ニックネーム:</label>
	          {{ addForm.nick_name }}
	        </div>
	        <div class="fieldWrapper">
	          {{ addForm.difficulty.errors }}
	          <label for="id_difficulty">難易度:</label>
	          {{ addForm.difficulty }}
	        </div>
	        <div class="fieldWrapper">
	          {{ addForm.level.errors }}
	          <label for="id_level">レベル:</label>
	          {{ addForm.level }}
	        </div>
	        <div class="fieldWrapper">
	          {{ addForm.purpose.errors }}
	          <label for="id_purpose">目的:</label>
	          {{ addForm.purpose }}
	        </div>
	        <div class="fieldWrapper">
	          {{ addForm.met_place.errors }}
	          <label for="id_met_place">場所:</label>
	          {{ addForm.met_place }}
	        </div>
	        <div class="fieldWrapper">
	          {{ addForm.met_situation.errors }}
	          <label for="id_met_situation">きっかけ:</label>
	          {{ addForm.met_situation }}
	        </div>
	        <div class="fieldWrapper">
	          {{ addForm.birthday.errors }}
	          <label for="id_birthday">誕生日:</label>
	          {{ addForm.birthday }}
	        </div>
	        <div class="fieldWrapper">
	          {{ addForm.phone_number.errors }}
	          <label for="id_phone_number">電話番号:</label>
	          {{ addForm.phone_number }}
	        </div>
	        <div class="fieldWrapper">
	          {{ addForm.mail.errors }}
	          <label for="id_mail">メール:</label>
	          {{ addForm.mail }}
	        </div>
	        <div class="fieldWrapper">
	          {{ addForm.address.errors }}
	          <label for="id_address">住所:</label>
	          {{ addForm.address }}
	        </div>
	        <div class="fieldWrapper">
	          {{ addForm.occupation.errors }}
	          <label for="id_occupation">職業:</label>
	          {{ addForm.occupation }}
	        </div>
	        <div class="fieldWrapper">
	          {{ addForm.company.errors }}
	          <label for="id_company">会社:</label>
	          {{ addForm.company }}
	        </div>
	        <div class="fieldWrapper">
	          {{ addForm.hobbu.errors }}
	          <label for="id_hobby">趣味:</label>
	          {{ addForm.hobby }}
	        </div>
	        <div class="fieldWrapper">
	          {{ addForm.birth_place.errors }}
	          <label for="id_birth_place">出身地:</label>
	          {{ addForm.birth_place }}
	        </div>
	        <div class="fieldWrapper">
	          {{ addForm.living_situation.errors }}
	          <label for="id_living_situation">暮らし方:</label>
	          {{ addForm.living_situation }}
	        </div>
	        <div class="fieldWrapper">
	          {{ addForm.remarks.errors }}
	          <label for="id_remarks">備考:</label>
	          {{ addForm.remarks }}
	        </div>
	        <div class="fieldWrapper">
	          {{ addForm.type_1.errors }}
	          <label for="id_type_1">性格1:</label>
	          {{ addForm.type_1 }}
	        </div>
	        <div class="fieldWrapper">
	          {{ addForm.type_2.errors }}
	          <label for="id_type_2">性格2:</label>
	          {{ addForm.type_2 }}
	        </div>
	        <div class="fieldWrapper">
	          {{ addForm.type_3.errors }}
	          <label for="id_type_3">性格3:</label>
	          {{ addForm.type_3 }}
	        </div>
	        <div class="fieldWrapper">
	          {{ addForm.profile_photo.errors }}
	          <label for="id_profile_photo">写真:</label>
	          {{ addForm.profile_photo }}
	        </div>
        </div>

        <input type="hidden" name="action" value="{{ACTION_TARGET_ADD}}">
        <input type="submit" />
      </form>
      
    </div>
    